doctype html
html(lang='en')
	head
		title My Custom Apps
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
		script(src='/static/js/index.js')

	body
		h1 My Custom Apps
		#container.col
			input#to-chime.nav-btn(type="button" value="Chime")
			input#to-map.nav-btn(type="button" value="Map")
			p 필요한 것들을 추가할 계획입니다.
